body {
    background-color: #f29c88;
}

div.main {
    margin-top: 38px;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

div.block {
    padding-top: 20px;
}

h1.title {
    text-align : center;
}

img.round {
    border-radius: 110%;
    width: 220px;
    height: 290px;
}

@media (max-width: 700px) {
    img.round {
        width: 250px;
        height: 170px;
    }
}

p {
    text-align: center;
    margin-top: 10px;
}

div.social a img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}